<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ryan's App</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/starter-template.css" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Project 4</a>
        </div>

      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-8 ">
          <%= yield %>
          <form>
            <select name="holiday_country" class="form-control" value ="<%= params['holiday_country']%>">
              <option <%= 'selected="selected"' if params['holiday_country'] == 'US' %> value="US">United States</option>
              <option <%= 'selected="selected"' if params['holiday_country'] == 'BE' %>value="BE">Belgium</option>
              <option <%= 'selected="selected"' if params['holiday_country'] == 'BR' %>value="BR">Brazil</option>
              <option value="GB">Great Britain</option>
            <input name="holiday_year" type = "number" min = "1000" max ="<%= Time.now.year %>" value ="<%= params['holiday_year']%>">
            <select name="holiday_month" class="form-control" value ="<%= params['holiday_month']%>">
              <option <%= 'selected="selected"' if params['holiday_month'] == '1' %>value="1">Jan</option>
              <option <%= 'selected="selected"' if params['holiday_month'] == '2' %>value="2">Feb</option>
              <option <%= 'selected="selected"' if params['holiday_month'] == '3' %>value="3">Mar</option>
              <option <%= 'selected="selected"' if params['holiday_month'] == '4' %>value="4">Apr</option>
              <option <%= 'selected="selected"' if params['holiday_month'] == '5' %>value="5">May</option>
              <option <%= 'selected="selected"' if params['holiday_month'] == '6' %>value="6">Jun</option>
              <option <%= 'selected="selected"' if params['holiday_month'] == '7' %>value="7">Jul</option>
              <option <%= 'selected="selected"' if params['holiday_month'] == '8' %>value="8">Aug</option>
              <option <%= 'selected="selected"' if params['holiday_month'] == '9' %>value="9">Sep</option>
              <option <%= 'selected="selected"' if params['holiday_month'] == '10' %>value="10">Oct</option>
              <option <%= 'selected="selected"' if params['holiday_month'] == '11' %>value="11">Nov</option>
              <option <%= 'selected="selected"' if params['holiday_month'] == '12' %>value="12">Dec</option>
            </select>
            <button type="submit">Click me for Holidays!</button>
          </form>
        </div>
        <div class="col-md-4 ">
          <div class ="holidaylist">
            <h1>Holidays for <%= params['holiday_country'] %></h1>
            <h2><%= params['holiday_month'] %>-<%= params['holiday_year'] %></h2>
            <ul>
              <% @Holidata.each do |holiday| %>
              <li><%= holiday["name"] %></li>
              <% end %>
            </ul>
             <h1>Holidays from my Birthday Month</h1>
            <ul>
              <% @Bdata.each do |holiday| %>
              <li><%= holiday["name"] %></li>
              <% end %>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>